__pycache__/
*.pyc
.DS_Store
.venv/
venv/
env/
node_modules/
dist/
build/
backend/allure-results/
backend/temp_results/
backend/allure-reports/
backend/*.log
backend/celerybeat-schedule
coverage/
.idea/
.vscode/
frontend/dist/
frontend/node_modules/
